body {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  background-color: hsl(0, 0%, 10%);
  font-family: 'Inter', sans-serif;
  color: white;
}

h1 {
  font-weight: 300;
  font-size: 2.5rem;
}

.controls {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 256px;
}

.controls > .input-field {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.controls > .input-field > input[type=number] {
  border: none;
  border-radius: 4px;
  padding: 8px;
  font-family: inherit;
}

.controls > .input-field > label {
  color: white;
  font-size: 0.8rem;
}

.controls > button.start {
  border: none;
  border-radius: 4px;
  padding: 8px;
  background-color: hsl(0, 0%, 25%);
  color: white;
  text-transform: uppercase;
  font-weight: 500;
  font-family: inherit;
}

.controls > button.start:active {
  background-color: hsl(0, 0%, 60%);
}

.game {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.game.hidden {
  display: none;
}

.game > .board {
  display: flex;
  gap: 4px;
  padding: 4px;
  border-radius: 8px;
  background-color: hsl(0, 0%, 20%);
}

.game > .board > .column {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.game > .board > .column > .field {
  --field-size: 32px;
  width: var(--field-size);
  height: var(--field-size);
  border: none;
  border-radius: 4px;
  background-color: hsl(0, 0%, 40%);
  user-select: none;
  font-size: 1.2rem;
  line-height: 1.2rem;
  font-family: inherit;
  color: black;
}

.game > .board > .column > .field:active {
  background-color: hsl(0, 0%, 30%);
}

.game > .board > .column > .field.revealed:disabled {
  background-color: hsl(0, 0%, 60%);
  color: black;
}

.game > .board > .column > .field:disabled {
  background-color: hsl(0, 0%, 45%);
  color: inherit;
}

.game > .status {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.game > .status > .stat-display {
  background-color: white;
  border-radius: 4px;
  padding: 4px;
  font-size: 1rem;
  line-height: 1rem;
  width: fit-content;
  color: black;
}